html {
    scroll-behavior: smooth;
}

.atas{
    color: #ff0066;
    font-size: 30px;
    font-variant: normal;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.main{
    display: block;
    width: 100%;
}

.jumbofont {
    padding: 25px;
    /* margin-bottom: 2rem; */
    background-color: #f2f2f2;
    height: 300px;
    font-size: 74px;
}

.image{
    width: 70px;
    height: 70px;
}

.jumbo{
    font-family: serif !important; 
    opacity:0; 
    transition: 0.5s;
}

h1{
    /* margin-bottom: 0.5rem; */
    padding: 30px;
    font-weight: 500;
    font-size: 100px;
    line-height: 2;
    font-size: 74px;
    color: rgb(238, 62, 120);
    text-align: center;
}

.rows:after {
    content: "";
    display: table;
    clear: both;
    padding: 2px;
    text-align: center;
  } 

.column1 {
    float: left;
    width: 23%;
    padding: 10px;
    align-items: center;
    margin-top: 24px;
}

a {
    text-decoration: none;
    /* color: inherit; */
    transition: .5s;
    color: black
}

a:hover {
    cursor: pointer;
    color:  rgb(238, 62, 120);
}

a:link {
    text-decoration: none;
  }

.see:hover {
    cursor: pointer;
    color:  rgb(238, 62, 120);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

.container1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.transisi {
    text-align: center;
    font-size: 74px;
    font-family: serif !important;
    opacity: 0;
    transition: 0.8s;
    animation-duration: 3s;

}

.transisi-intro {
    text-align: center;
    font-size: 74px;
    font-family: serif !important;
    opacity: 0;
    transition: 0.8s;
    
}

.intro {
    /* transition-delay: 3s; */
    transition: 3s;
    opacity: 0;
    color: rgb(238, 62, 120);
}

